<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Текущее время и дата</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Текущее время и дата</h1>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Time: {{ time }}</h5>
                <h5 class="card-title">Date: {{ date }}</h5>
            </div>
        </div>
    </div>
</body>
</html>